.modal-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal-container.active {
  display: block;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  top: 0;
  left: 0;
  position: fixed;
}

.modal {
  width: 95%;
  max-width: 630px;
  height: 670px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.return-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  size: 16px;
}
#modal_ajout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h2 {
  margin-top: 40px;
  color: black;
  text-align: center;
  font-family: 'Work Sans';
  font-weight: lighter;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
  height: 169px;
  margin-top: 2rem;
  padding-top: 0.5rem;
  background-color: aliceblue;
}

.fa-image {
  font-size: 60px;
  color: #d1d6dc;
  display: flex;
  justify-content: center;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; 
}
.btn-add.hide-btn-add label {
  display: none;
}
.addBtn-photo {
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 173px;
  height: 36px;
  line-height: 100px;
  font-weight: 600;
  color: #2d7a94;
  background-color: #d1d6dc;
  cursor: pointer;
}

.btn-addImage {
  display: none;
}

.add-style {
  position: absolute;
  left: 40%;
  top: 15rem;
  margin: 0;
  font-family: 'Work Sans';
  font-size: 12px;
}

.preview-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-img {
  visibility: hidden;
  width: 200px;
  height: auto;
}

#previewImg {
  position: absolute;
  max-height: 176px;
  top: 6rem;
  object-fit: contain;
  padding-bottom: 3.5rem;
  z-index: 100;
}

.title-text {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Work Sans';
  font-size: 14px;
}

.add-photo-title-container input {
  width: 420px;
  height: 51px;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 2px 8px 0px rgba(133, 132, 132, 0.2);
}

.category-addPhoto select {
  width: 420px;
  height: 51px;
  margin-bottom: 3rem;
  border: none;
  box-shadow: 0 2px 8px 0px rgba(133, 132, 132, 0.2);
}

.modal-btn {
  border: none;
  border-radius: 30px;
  width: 237px;
  height: 36px;
  font-weight: bold;
  margin-top: 2rem;
  background-color: gray;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.valid-btn {
  background-color: #1d6154;
  color: white;
}
hr {
position: relative;
width: 80%;
top: 0;
}