.modal-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

}

.modal-container.active {
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.modal {
  width: 95%;
  max-width: 600px;
  height: 650px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.return-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  size: 16px;
}

.modal h2 {
  margin-top: 30px;
  color: black;
  text-align: center;
  font-family: 'Work Sans';
  font-weight: lighter;
}

.photo-container {
  width: 500px;
  height: 200px;
  margin-top: 2rem;
  background-color: aliceblue;
}

.fa-image {
  font-size: 60px;
  color: #d1d6dc;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.addBtn-photo {
  border: none;
  border-radius: 30px;
  width: 12rem;
  height: 2.2rem;
  margin-left: 0;
  font-weight: 600;
  color: #2d7a94;
  background-color: #d1d6dc;
  cursor: pointer;
  font-family: 'Work Sans';
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-addImage {
  display: none;
}
.add-style {
  position: absolute;
  left: 40%;
  top: 13rem;
  margin: 0;
  font-family: 'Work Sans';
  font-size: 12px;
}
.preview-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-img {
  visibility: hidden;
 width: 200px;
 height: auto;

} 

.title-text {
  margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Work Sans';
    font-size: 14px;
}
.add-photo-title-container input{
  width: 500px;
  height: 60px;
  margin-bottom: 1rem;
  border: none;
  box-shadow: 0 2px 8px 0px rgba(133, 132, 132, 0.2);
}

.category-addPhoto select {
  width: 500px;
  height: 60px;
  margin-bottom: 2rem;
  border: none;
  box-shadow: 0 2px 8px 0px rgba(133, 132, 132, 0.2);
}

.modal-btn {
  border: none;
  border-radius: 30px;
  width: 18rem;
  height: 2.5rem;
  margin-left: 6rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: gray;
  color: white;
  font-size: 16px;
  cursor: pointer;
}