.modal-container {
	/* display: none; */
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
    
  }
  
  .modal-container.active {
	display: block;
  }
  
  .overlay {
    display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
  }
  
  .modal {
	/* width: 95%;
	max-width: 600px;
	height: 700px; */
	background: #fff;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  	
  }
  .close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 600;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  .return-arrow{
    position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
  }
  .modal h2 {
	margin-top: 20px;
	color: black;
	text-align: center;
	font-family: 'Work Sans';
	font-weight: lighter;
  }
.photo-container {
    width: 500px;
    height: 200px;
    background-color: aliceblue;
}
.fa-image {
    font-size: 60px;
    color: #d1d6dc;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.addBtn-photo {
    border: none;
    border-radius: 30px;
    width: 12rem;
    height: 2.2rem;
    font-weight: 600;
    color: #2d7a94;
    background-color: #d1d6dc;
    cursor: pointer;
    font-family: 'Work Sans';
}
.add-style {
  text-align: center;  
  margin: 0;
  font-family: 'Work Sans';
  font-size: 12px;
}
.title-text {
  font-family: 'Work Sans';  
  font-size: 16px;
}

.title-addPhoto input {
    width: 500px;
    height: 60px; 
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 2px 8px 0px rgba(133,132,132,0.2);
}
.category-addPhoto select {
    width: 500px;
    height: 60px; 
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0 2px 8px 0px rgba(133,132,132,0.2);
}
HR {
    width: 70%;
}
.modal-btn {
    border: none;
    border-radius: 30px;
    width: 18rem;
    height: 2.5rem;
    font-weight: bold;
    margin-top: 1rem; 
    background-color: gray;
    color: white;
    font-size: 16px;
    cursor: pointer;
}